<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>在线用户管理</title>
</head>
<style>
  table {
    /*border: 1px solid black;*/
    text-align: center;
  }
  td {
    padding: 5px;
  }
</style>
<body>
  <div>
    <h3>在线用户数量: <span id="onlineCount"></span></h3>
    <table border="1px">
      <thead>
        <tr>
          <th>会话ID</th>
          <th>用户名</th>
          <th>登录时间</th>
          <th>最后访问时间</th>
          <th>IP地址</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
    </table>
    <a th:href="@{/index}">返回</a>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</body>
<script type="text/javascript">
  let baseUrl = 'http://localhost:8082/lxl'
  $.get(baseUrl + '/online/list', {}, function (res) {
    console.log(res)
    let onlineUserInfoList = res
    let onlineCount = res.length
    $('#onlineCount').text(onlineCount)
    let content = '<tbody>'
    for (let onlineUser of onlineUserInfoList) {
      content += '<tr>'
      content += '<td>' + onlineUser.id + '</td>'
      content += '<td>' + onlineUser.username + '</td>'
      content += '<td>' + onlineUser.startTimestamp + '</td>'
      content += '<td>' + onlineUser.lastAccessTime + '</td>'
      content += '<td>' + onlineUser.host + '</td>'
      content += '<td>' + onlineUser.status + '</td>'
      content += "<td><a href='#' onclick='offline(\"" + onlineUser.id + "\",\"" + onlineUser.status +"\")'>下线</a></td>"
      content += '</tr>'
    }
    content += '</tbody>'
    $('table').append(content)
  }, 'json')

  function offline(id, status) {
    if (status === '离线') {
      alert('该用户已经处于离线状态！')
      return false
    }
    $.get(baseUrl + '/online/force_logout/' + id, {}, function (res) {
      if (res && res.code === 0) {
        alert('强制用户下线成功！')
        location.href = baseUrl + '/online/index'
      } else {
        alert(res.msg)
      }
    }, 'json')
  }

  Date.prototype.Format = function (fmt) {
    var o = {
      "M+": this.getMonth() + 1,
      "d+": this.getDate(),
      "h+": this.getHours(),
      "m+": this.getMinutes(),
      "s+": this.getSeconds(),
      "q+": Math.floor((this.getMonth() + 3) / 3),
      "S": this.getMilliseconds()
    };
    if (/(y+)/.test(fmt)){
      fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "")
        .substr(4 - RegExp.$1.length));
    }
    for (var k in o){
      if (new RegExp("(" + k + ")").test(fmt)){
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ?
          (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
      }
    }
    return fmt;
  }
</script>
</html>